body {
    color: white;
    margin: 0px;
    background-color: black;
    font-size: 1.5rem;
}

.nav-tool {
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    font-weight: 400;
    margin-top: 4vh;

}

#nav-bar {
    justify-content: center;
    display: flex;
}

#top-sec {

    background-image: linear-gradient(to right, black);
}

#intro {
    height: 90vh;
    width: 100vw;
}

#a img {
    height: 7vw;
    width: 7vw;
    background-size: cover;
    background-position: center;


}

#a {
    margin-top: 1vw;

}

#intro-image img {
    height: 50vh;
    width: 25vw;
    position: relative;
}

#intro-image {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 0px;
    margin-bottom: -5px;
    margin-right: 80px;
}

.ib {
    height: 300px;
    width: 700px;
}

#intro-text {
    height: fit-content;
    width: fit-content;

    margin: 2vw;
    margin-top: 20vh;
    overflow: visible;
    text-align: center;
    flex-wrap: wrap;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#download {
    margin: 50px;
    margin-left: 100px;
    width: 40%;
    background-color: rgba(0, 0, 255, 0.459);
    text-align: center;
    border-radius: 5%;
    padding: 0%;

}

#download:hover {
    font-size: x-large;
    background-color: #0500668b;

}

#mid-sec {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left top, black);
    padding-top: 5vh;
}

#why {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6vh;
}

#features {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
     text-align: center;

}

.feature-block {
    border: #0d3d61;

    height: auto;
    width: 30%;
    border-radius: 5%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    overflow: visible;

}

.nav-tool:hover {
    color: #0d3d61;

}

.icon {
    margin: 10%;
    height: 10%;
    width: 10%;
    background-size: contain;
    background-position: cover;
}

.feature-block:hover {
    background-image: linear-gradient(to left top, black);
    border-style: solid;
    border-color: #CD3030;

}

.icon:hover {
    background-color: #CD3030;
}

.heading {
    text-align: left;
    margin: 5%;
}

.heading-detail {
    margin: 10%;
    overflow: visible;
    text-align: left;

}

#footer {
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, black);
    margin-top: 10vh;
    color: #999999;
    ;

}
#footer-elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-block {

    width: 25vw;
    height: 75%;
    display: inline-block;
    margin: 2vw;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;



}

.list {
    margin: 1rem;
}

#ab img {
    margin: 1vw;
    margin-left: 0vw;
    height: 7vw;
    width: 7vw;
    background-size: cover;
    background-position: center;

    display: inline-block;

}

#foot-note {
    text-align: justify;
}

.bullet {
    height: 1rem;
    width: 1rem;
    transform: rotate(180deg);
}

.ser {
    list-style-type: none;
    margin: 1rem;
}

h4 {
    margin-left: 3.2vw;
}

hr {
    margin-bottom: .5vh;
    margin-top: .5vh;
    width: 80%;
}

#bottom-line {
    font-family: cursive;
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    margin-bottom: 2vh;
}

.ser:hover {
    color: rgb(0, 76, 255);
    font-size: 1.4rem;
}


a {
    color: white;
    text-decoration: none;
}
#features{
   
   
    display: flex;
   
    
    justify-content: center;
}
#phone{
    width: fit-content;
   
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 30,30);
    
}
.tag{
    display: inline-block;
    border-style: solid;
    border-color: #999999;
    padding: 10px;
    width: 9vw;
    margin-right: 0px;
    border-right-width: 0px;
    height: 5vh ;
}
.tag-info{
    display: inline-block;
    border-style: solid;
    border-color: #999999;
    padding: 10px;
    width: 20vw;
    height: 5vh;
    
    margin-left: -5px;
}
#phoneNo{
    color: #999999;
    border-style: solid;
    border-color: rgba(0, 0, 255, 0.459);
    background-color:rgb(30, 30,30);
    border-radius: 16px;
    width:35vw;
    height: 5vh;
    text-align: center;
    font-size: 2rem;
  }
  
#ps{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 2rem;
}
#bu{
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
    margin-top:-4px;
    background-color: #999999;
}

#bu:hover{
    background-color: blue;
}
#insta_name {
    border-style: solid;
    border-color: white;
    height: 5vh;
    width: 40vw;
    text-align: left;

}

.block {
    display: inline-block;
    border-style: solid;
    border-color: white;



}

#name_tag {
    height: 100%;
    width: 20%;
    border-width: 0px;
    border-right-width: 4px;
    margin-left: 4px;
}

#name {
    border-width: 0px;

}

#dp {
    border-style: solid;
    border-color: white;
    height: 32vh;
    width: 40vw;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#dp-tag {
    height: 100%;
    width: 20%;
    border-width: 0px;
    border-right-width: 4px;
    margin-left: 4px;
}

#dp_pic img {

    background-position: center;
    background-size: cover;
    background-size: cover;
    height: 100%;
    width: 31vw;


}

#dp_pic {
    border-style: solid;
    border-color: white;
}
#insta_bio{
    border-style: solid;
    border-color: white;
    height: 32vh;
    width: 40vw;
    text-align: left;
    display: flex;
    flex-direction: row;
}
#bio-tag{
    height: 100%;
    width: 20%;
    border-width: 0px;
    border-right-width: 4px;
    margin-left: 4px;
}
#bio{
   border-width: 0px;
   margin: 5px;
}
#Instagram{
    margin-left: 25vw;
}
.block1{
    display: inline-block;
}

